/***** Imports *****/

@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


/***** Custom properties *****/

:root{
    /* Global layout */
    --app-margin-top: 20px;
    --app-width: 70vw;
    --app-height: max-content;
    
    --header-height: 140px;
    --nav-height: 40px;
    --nav-margin-bottom: 40px;

    --book-container-row-height: 300px;
    --book-container-gap: 60px;
    
    /* Elements */
    --book-width: 200px;
    --book-height: 170px;
    
    /* Background colors */
    --body-background: radial-gradient(circle, rgb(83, 28, 128), rgb(40, 20, 80));
    --main-color: rgba(255, 255, 255, 0.05);
    --book-color: #f4e8ff;
    --border-color: rgba(255, 255, 255, 0.151);
    --global-font-color: #333;
    
    /* Fonts */
    --header-font: 'Barrio', cursive;
    --header-font-size: 2em;
    --header-font-color: #f4e8ff;
    
    --global-font: 'Merriweather', serif;
    --global-font-size: 1em;
}



/***** Global styles *****/

body{
    display: grid;
    grid-template-columns: 1fr var(--app-width) 1fr;
    justify-content: center;
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background: var(--body-background);
      
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow:hidden;

    font-family: var(--header-font);
    color: var(--header-font-color);
    font-size: var(--header-font-size);
    letter-spacing: .1em;
    
}

main{
    height: max-content;
    padding: 20px;
    background-color: var(--main-color);
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

nav{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
    height: var(--nav-height);
    margin-bottom: var(--nav-margin-bottom);
    
}

p, h3, h4{
    margin: 5px;
}

p{
    font-size: .8em;
}



/***** Overall layout *****/

.app-container{
    display: grid;
    grid-area: 1 / 2;
    grid-template-columns: var(--app-width);
    grid-template-rows: var(--header-height) var(--nav-height) auto;
        
    height: var(--app-height);
    margin-top: var(--app-margin-top);
    font-family: var(--global-font);
    font-size: var(--global-font-size);
    color: var(--global-font-color)
}

.logo-container{
    display: grid;
    justify-content: end;
    align-items: center;
}

.title-container{
    display: grid;
    justify-content: start;
    align-items: center;
}

.search-form{
    display: grid;
    justify-content: start;
    align-items: center;
}

.add-button{
    display: grid;
    justify-content: end;
    align-items: center;
}

.book-container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(var(--book-width), 1fr));
    gap: var(--book-container-gap);
    
    padding: 50px 20px 50px 20px;
    border-top: solid 1px var(--border-color);    
}


/***** Components *****/

.material-symbols-outlined{
    color: #eee;
}

.logo-container span{
    color: #eee;
    font-size: 2em;
    padding-right: 20px;
}

#add-button{
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 80px;
    background: #6a45a5;
    color: #eeeeee;
    font-size: 3em;
    font-weight: 700;
    cursor: pointer;
}

#search-button{
    border: 0;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    background: #7951b8;
    color: #eee;
    font-size: 1em;
    margin-left: 20px;
}

.search-form input{
    border: 0;
    height: 20px;
    width: 300px;
    background: transparent;
    border-bottom: solid 1px #eee;
}

.book{
    height: var(--book-height);
    background-color: var(--book-color);
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: relative;
}

.book-author{
    margin-bottom: 20px;
    color: #33333391;
}

.book-delete{
   display: flex;
   justify-content: end;
}

.book-delete input{
    border: 0;
    height: 30px;
    border-radius: 10px;
    background-color:#6a45a5;
    color: #eeeeee;
    position:absolute;
    top: 150px;
    cursor: pointer;
}

.add-form button{
        border: 0;
        height: 50px;
        width: 120px;
        margin-top: 20px;
        border-radius: 20px;
        background-color:#6a45a5;
        color: #eeeeee;
        cursor: pointer;
        font-size: 1.2em;
}

.book-status{
    margin-left: 5px;
}


/***** Toggle switch - Copied from https://www.w3schools.com/howto/howto_css_switch.asp *****/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #9f21f3;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  
/***** Popup form *****/

.form-container-enabled{
    z-index: 2;
    position: absolute;
    top: auto;
    left: auto;

    opacity: 1;

    height: auto;
    width: 300px;
    padding: 40px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px;
    border-radius: 10px;
}

.form-container-disabled{
    z-index: 2;
    position: absolute;
    top: auto;
    left: auto;

    opacity: 0;

    height: auto;
    width: 300px;
    padding: 40px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px;
    border-radius: 10px;
}

.form-container input{
    border: 0;
    height: 20px;
    width: 300px;
    background: transparent;
    border-bottom: solid 1px #ddd;
}

.form-container input{
    margin: 10px;
}

.form-container h3{
    margin-bottom: 30px;
}

/***** Temporary borders *****/

.book-title,
.book-author,
.book-genre,
.book-pages,
.book-status,
.book-delete
{
}