/***** Custom properties *****/

:root{
    /* Global layout */
    --app-margin-top: 60px;
    --app-width: 90vw;
    --app-height: max-content;
    
    --header-height: 100px;
    --nav-height: 60px;

    --book-container-row-height: 300px;
    --book-container-margin: 20px;
    --book-container-gap: 40px;

    /* Colors */
    --border-color: black;

    /* Elements */
    --book-width: 200px;
    --book-height: 300px;
}


/***** Global styles *****/

body{
    display: grid;
    grid-template-columns: 1fr var(--app-width) 1fr;
    justify-content: center;
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    height: var(--nav-height);
}

.app-container{
    display: grid;
    grid-area: 1 / 2;
    grid-template-columns: var(--app-width);
    grid-template-rows: var(--header-height) var(--nav-height);
        
    height: var(--app-height);
    margin-top: var(--app-margin-top);
}


/***** Layout *****/

.logo-container{
    display: grid;
    justify-content:flex-end;
    align-items: center;
}

.title-container{
    display: grid;
    justify-content:flex-start;
    align-items: center;
}

.search-form{
    display: grid;
    justify-content: flex-start;
    align-items: center;
}

.add-button{
    display: grid;
    justify-content: flex-end;
    align-items: center;
}

.book-container{
    display: grid;
    overflow: auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(var(--book-width), 1fr));
    gap: var(--book-container-gap);
    
    margin: var(--book-container-margin);    
}


/***** Components *****/

.book{
    height: var(--book-height);
}


/***** Temporary borders *****/

.app-container,
.logo-container,
.title-container,
.search-form,
.add-button,
.book-container,
.book,
.book-content,
.book-title,
.book-author,
.book-genre,
.book-pages,
.book-status,
.book-delete
{
    border: solid 1px var(--border-color);
}